<div class="clearfix">
    <div class="clearfix spaced_description">
        <p>Danny’s can be found just north of Brighton at <a href="http://www.haywardsheathsocialclub.org.uk/"><span class="flarge white">The United Services Club</span></a> in <span class="flarge white">Haywards Heath</span> directly on the London to Brighton line and next to the M23.</p>
        <p class="flarge">There is ample free parking on site and nearby.</p>
    </div>
    <div class="column_title">
        <h4>How to find us:</h4>
    </div>
    <div class="clearfix spaced_description">
        <p><span class="flarge white">The United Services Club</span> in <span class="flarge white">Haywards Heath</span> is off the Sussex roundabout on the B2112 where Sussex Road becomes Wivelsfield Road.</p>
        <p>Located opposite the Sainsbury’s Local and Pets Corner stores, a few doors down from Dinnages car dealership and within easy walking distance of the town centre.</p>
    </div>
    <div class="clearfix spaced_description column_small">
        <p>By Bus from Haywards Heath Train station (Perrymount Road), take Metro Bus number 270 for Brighton, the bus will take you up to the Princess Royal Hospital, then get off at the junction of Colwell Road and the B2112 (Wivelsfield Road). Last bus leaves the station at 7.13pm.</p>
        <p>For more details, go to: <a href="http://www.metrobus.co.uk/timetables-search">www.metrobus.co.uk/timetables-search</a></p>
    </div>
</div>