<p>The Arora Hotel Gatwick/Crawley is situated in the heart of Crawley town centre, perfectly placed for businesses in Manor Royal Business Park and K2 Leisure Centre is within walking distance. </p>

<p>Superb transport links include easy access to M23/A23 and M25 motorways, direct access to Crawley Main Line Train Station platform and is only a short journey to Gatwick Airport by direct bus transfer.</p>

<div class="column_title">
<h4>How to reach:</h4>
</div>

<div class="column_title">
<h5>By Car</h5>
</div>
<p>The hotel offers on-site underground secured car parking facilities for 200 cars at a cost from £10.00 per day.</p>

<p>From the M23, exit at junction 10 taking the A2011 to Crawley. At the first roundabout take the second exit towards the town centre. At the second roundabout take the first exit towards the County Mall. At the both sets of traffic lights proceed straight over; the County Mall should be on your right. Go straight under the Railway Bridge, and the hotel is on your right.</p>

<p>Please note that there is no lift from the car park to the hotel, so we advise that you drop off your luggage at the main entrance before parking.</p>

<div class="column_title">
<h5>By Bus</h5>
</div>
<p>The nearest bus stop to the hotel is Southgate Avenue North, near the hotel entrance.</p>

<div class="column_title">
<h5>By Rail</h5>
</div>
<p>Crawley mainline station is adjacent to the hotel with frequent train services to London Victoria, Brighton and the region. There is private direct access from platform 2 into the hotel grounds. To use this access, follow the signs to the end of the platform and press the intercom button at the gate.</p>

<div class="column_title">
<h5>TO / FROM the airport</h5>
</div>
<p>The hotel provides a scheduled transport service as follows;</p>