<div class="clearfix spaced_description">
    <p>Danny’s can be found just north of Brighton at <a href="http://www.birchhotel.co.uk/"><span class="flarge white">The Birch Hotel</span></a> in <span class="flarge white">Haywards Heath</span> just north of Brighton in <span class="flarge white">Lewes Road</span> on the London - Brighton line and just off the M23.</p>
    <p class="flarge">There is ample free parking on site and nearby.</p>
</div>
<div class="column_title">
    <h4>How to find us:</h4>
</div>
<div class="clearfix spaced_description">
    <p><span class="flarge white">The Birch Hotel</span> in <span class="flarge white">Haywards Heath</span> </p>
    <p></p>
    <p>For satnav devices the postcode of the venue is <span class="white">RH17 7SF</span>.</p>
</div>