.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
a:focus{outline:#eeeeee;}
a:visited{color:#eeeeee;}
.btn-warning:visited,.btn-info:visited,.btn-inverse:visited{color:#ffffff;}
a:hover{color:#eeeeee;}
a.white{color:#ffffff;}
.navigation{padding:0;margin-top:10px;}
.nav-pills{margin-bottom:0;}.nav-pills>li{margin-left:10px;}.nav-pills>li a{color:#999999;}
.nav-pills>li a:hover{color:#ffffff;background-color:transparent;}
.nav-pills>.active>a,.nav-pills>.active>a:hover{color:#ffffff;background-color:transparent;}
.site-tagline{padding:10px;font-family:Palatino Linotype, Book Antiqua3, Palatino, serif;color:#ffffff;}
.logo-container{width:300px;}
.address-container{color:white;}
.mast-head{margin-bottom:20px;}
.stage-shows{font-family:Palatino Linotype, Book Antiqua3, Palatino, serif;}.stage-shows li{margin-right:10px;margin-bottom:10px;display:inline-block;*zoom:1;*display:inline;float:left;}.stage-shows li .label,.stage-shows li .btn{font-size:14px;-webkit-border-radius:3px 15px 15px 3px;-moz-border-radius:3px 15px 15px 3px;border-radius:3px 15px 15px 3px;}
.stage-shows li .label{padding:6px 15px 7px 4px;}
.stage-shows li .btn{padding:2px 15px 3px 4px;}
.widget-wrap{background-color:#f9f6d4;background-image:-moz-linear-gradient(left, #f8f4c6, #f9f6d4);background-image:-ms-linear-gradient(left, #f8f4c6, #f9f6d4);background-image:-webkit-gradient(linear, 0 0, 100% 0, from(#f8f4c6), to(#f9f6d4));background-image:-webkit-linear-gradient(left, #f8f4c6, #f9f6d4);background-image:-o-linear-gradient(left, #f8f4c6, #f9f6d4);background-image:linear-gradient(left, #f8f4c6, #f9f6d4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f4c6', endColorstr='#f9f6d4', GradientType=1);padding:20px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-box-shadow:0px 0px 15px -8px;-moz-box-shadow:0px 0px 15px -8px;box-shadow:0px 0px 15px -8px;}
.slider-wrap{background-color:#ffffff;background-image:-moz-linear-gradient(left, #dcdcdc, #ffffff);background-image:-ms-linear-gradient(left, #dcdcdc, #ffffff);background-image:-webkit-gradient(linear, 0 0, 100% 0, from(#dcdcdc), to(#ffffff));background-image:-webkit-linear-gradient(left, #dcdcdc, #ffffff);background-image:-o-linear-gradient(left, #dcdcdc, #ffffff);background-image:linear-gradient(left, #dcdcdc, #ffffff);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#ffffff', GradientType=1);padding:20px;z-index:5;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-shadow:0px 0px 15px -8px;-moz-box-shadow:0px 0px 15px -8px;box-shadow:0px 0px 15px -8px;}
.rules-wrap{background-color:#bde1f4;background-image:-moz-linear-gradient(left, #dff4ff, #bde1f4);background-image:-ms-linear-gradient(left, #dff4ff, #bde1f4);background-image:-webkit-gradient(linear, 0 0, 100% 0, from(#dff4ff), to(#bde1f4));background-image:-webkit-linear-gradient(left, #dff4ff, #bde1f4);background-image:-o-linear-gradient(left, #dff4ff, #bde1f4);background-image:linear-gradient(left, #dff4ff, #bde1f4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dff4ff', endColorstr='#bde1f4', GradientType=1);-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-shadow:0px 0px 15px -8px;-moz-box-shadow:0px 0px 15px -8px;box-shadow:0px 0px 15px -8px;padding:20px;position:relative;left:-40px;}
.rules-notes-wrap{background:url("../resources/note-bg.png") repeat repeat scroll -160px 14px transparent;}
.actions-links .action-link{margin-right:5px;}
.accordion-header{position:relative;}
.accordion-header .toggle-image{right:10px;top:10px;width:50px;height:25px;font-size:11px;}
.side-links{text-align:right;position:absolute;padding-right:15px;top:0;right:0;}.side-links li{display:inline;}
.side-links a{color:#555555;}
.header a{color:#17b8fb;text-decoration:underline;}
.header a:hover{color:#49c7fc;}
.page_holder{padding:10px 20px 20px 20px;min-height:300px;}
.navigation .nav-pills{background:url("../images/patterns/black-pattern-brown-opac_80.png") 0 0 repeat scroll transparent;}.navigation .nav-pills a{color:#ffffff;text-decoration:none;}
.navigation .nav-pills a:hover{color:#999999;}
.page_holder .read-more a,.page_holder .read-more{text-decoration:underline;font-size:12px;color:#ffffff;}
.body-patternbg{background:url("../images/patterns/black-pattern-dark.jpg") 0 0 repeat scroll #333333;color:#999999;height:100%;width:100%;position:relative;}
.page_wrapper{background:url("../images/mod-bigstock/red_left.png") 10% 300px no-repeat scroll transparent;}
.page_container{background:url("../images/mod-bigstock/yellow_right.png") 90% 300px no-repeat scroll transparent;}
.page_container,.page_wrapper{z-index:-1;height:100%;width:100%;opacity:0.07;filter:alpha(opacity=7);}
.iframe_video{padding-top:15px;}
.tab-pane,.prelative{position:relative;}
.js-tabs-filler{height:100%;}
.js-pane-border-filler{-webkit-border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;border-top:1px solid #333333;border-bottom:1px solid #333333;height:100%;}
.js-pane-holder{background:url("../images/patterns/black-pattern-dark.jpg") 0 0 repeat scroll transparent;z-index:1;}
.js-pane{background:url("../images/patterns/black-pattern-dark.jpg") 0 0 repeat scroll transparent;padding-top:25px;padding-bottom:19px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.js-pane-content{margin-left:40px;margin-right:40px;width:auto;}
.js-pane-nav{top:50%;left:0;margin-top:-11px;z-index:10;cursor:pointer;height:30px;}
.absolute-image{position:absolute;left:0;top:0;}
.absolute-image-content{font-size:14px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;z-index:10;}
.js_list{line-height:100px;font-size:130%;}.js_list.js_list_star dd.js_list_item{background:url("../WebContent/icons/star.png") 0 3px no-repeat scroll;padding-left:24px;}
dl.js_list.border_radius{border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding-top:10px;padding-bottom:12px;}
.js_list_item{margin-top:18px;line-height:22px;}
.sub_info{font-size:160%;margin-bottom:19px;font-weight:400;line-height:27px;}
.act-tags,.acts-thumb{margin:0;}.act-tags li.act-tag,.acts-thumb li.act-tag{color:#ffffff;font-size:16px;}
.act-tags li,.acts-thumb li{display:inline-block;*zoom:1;*display:inline;}
.act-tags li{margin-right:20px;padding:6px 10px 7px;}
.acts-thumb li{margin-right:7px;padding:3px 2px 4px;}
.artiste-performance{color:#049cdb;text-decoration:none;}.artiste-performance:hover{background-color:#efefef;}
.artiste-performance a{color:#049cdb;}
.bootstrap_title.clearfix.decolumn_mini{padding:5px 0 6px;display:block;}
.js_tabs{text-align:center;margin-bottom:0;padding-left:20px;border:none;}.js_tabs li{-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;margin-right:10px;-webkit-box-shadow:0 -5px 2px 0;-moz-box-shadow:0 -5px 2px 0;box-shadow:0 -5px 2px 0;background:url("../images/patterns/black-pattern-brown.jpg") 0 0 repeat scroll #333333;}
.js_tabs li.selected,.js_tabs>li>a:hover{background:url("../images/patterns/black-pattern-dark.jpg") 0 0 repeat scroll #000000;border:1px solid #000000;}
.js_tabs .js_tabs_button{padding:5px;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;background:url("../images/patterns/black-pattern-brown.jpg") 0 0 repeat scroll #333333;}.js_tabs .js_tabs_button.selected{background:url("../images/patterns/black-pattern-dark.jpg") 0 0 repeat scroll #000000;}
.prev-tab,.next-tab{font-size:400%;height:30px;display:block;line-height:40px;}
.image_text{padding:10px;line-height:27px;}
.small_image_holder{vertical-align:middle;}.small_image_holder .right{padding-left:20px;}
.image_wrapper{text-align:center;vertical-align:middle;}
.column.border_radius{border:1px solid #ddd;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:15px 10px 11px 15px;margin-left:-10.5px;}
.column_title{padding-top:8px;padding-bottom:9px;color:#ffffff;}
.custom_font{font-family:Trebuchet MS, sans serif;display:block;}.custom_font a{color:#ffffff;padding:12px 15px 13px;display:block;}
.normal_font{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.tabs_container .tabs_content{margin:0;font-size:15px;}
.tabs_individual{padding:20px;}
ul.column_tabs{margin:0;}ul.column_tabs>li.border_radius_large{-webkit-border-radius:8px 8px 0 0;-moz-border-radius:8px 8px 0 0;border-radius:8px 8px 0 0;}
ul.column_tabs>li>a{border:none;}
ul.column_tabs>.active>a{background-color:transparent;border:none;}ul.column_tabs>.active>a.white{color:#fff;}
ul.column_tabs.nav>li>a:hover{border:0;background-color:transparent;border:none;}
div.tabs_individual.custom_font{padding:8px 10px 9px;margin-left:0;min-height:112px;}
.tabs_1{background-color:#45808B;}
.tabs_2{background-color:#985A74;}
.tabs_3{background-color:#BEB34B;}
.column_small{margin-top:18px;}
.column_mini{margin-top:10px;}
.column_normal{margin-top:25px;}
.content_block{z-index:10;background:url("../images/patterns/black-pattern-dark.jpg") 0 0 repeat scroll #333333;color:#ffffff;}.content_block.box_shadow{-webkit-box-shadow:0 1px 3px -0.5px;-moz-box-shadow:0 1px 3px -0.5px;box-shadow:0 1px 3px -0.5px;}
.content_block.border_radius_large{border:1px solid #999999;}
.mr20{margin-right:20px;}
.content_block_content{padding:10px;}
.form_header img,.form_footer img{width:100%;}
input.field_small,select.field_small,textarea.field_small{margin-top:5px;}input.field_small.increase_size,select.field_small.increase_size,textarea.field_small.increase_size{height:27px;line-height:27px;}
.customcontactform label{font-size:16px;}
blockquote.description_text{font-size:14px;}blockquote.description_text p{font-size:13px;}
.press_quotes{font-size:13px;}.press_quotes p{font-size:13px;}
.testimonial_text{font-style:italic;font-size:16px;line-height:27px;}
.form_holder{background-color:#F5F5F5;border:1px solid #DDDDDD;}
.testimonials{margin-top:10px;}
.widget{margin-bottom:15px;}
.widget.text{background-color:#d6e6e8;}.widget.text.border_radius{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.common_sidebar{position:relative;}
.form_field_inner{padding-left:40px;}
.footer{margin-top:30px;padding-top:18px;min-height:300px;background-color:#ddd;border-top:2px solid #999999;font-family:Palatino Linotype, Book Antiqua3, Palatino, serif;}.footer a{color:#000000;}
.footer a:hover{color:#333333;}
.footer-links{width:50%;float:right;text-align:left;}.footer-links li{list-style:circle;line-height:27px;}
.footer-images{text-align:center;}
.site-links li{display:inline;}
.column{margin-top:30px;position:relative;}
.decolumn_small{margin-bottom:18px;}
.decolumn_mini{margin-bottom:10px;}
.terms-and-conditions>li{font-size:15px;}.terms-and-conditions>li li{font-size:12px;}
.terms-and-conditions p,.terms-and-conditions h4,.terms-and-conditions h3,.terms-and-conditions ul{margin-bottom:10px;}
#map_container{height:400px;border:1px solid #555555;}
.show-icon,.dropdown-toggle{display:none;z-index:1000;cursor:pointer;}
.visible-onenter{margin:0;left:auto;font-size:90%;right:0;top:4px;font-family:cursive;background-color:#000000;}.visible-onenter a{color:#ffffff;}
.visible-onenter.active{display:block;opacity:1;filter:alpha(opacity=100);z-index:100;}
.caret2{border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #000000;content:"";display:inline-block;height:0;opacity:0.8;vertical-align:top;width:0;}
.display-edit{z-index:1000;position:relative;top:0;height:0;display:none;opacity:0.6;filter:alpha(opacity=60);}
.edit-links{margin:0;}
.edit-down{position:relative;}
.edit-icon,.action-icon{padding:4px;background-color:#eeeeee;cursor:pointer;}
.show-edit{position:relative;}
.show_edit:hover{outline:1px dashed #bbb;}.show_edit:hover .display-edit{display:block;}
.show_edit:hover .dropdown-toggle{display:block;position:absolute;right:0;}
body{font-family:Lucida Sans Unicode,Lucida Grande,sans-serif;}
.header{padding-top:10px;padding-bottom:15px;}
table.container{position:relative;}table.container .row-right{vertical-align:bottom;}
.table.table-bordered.white{background-color:#ffffff;color:#049cdb;}.table.table-bordered.white thead{background-color:#333333;color:#ffffff;}
.table.table-bordered.white tr:hover td{background-color:#dcdcdc;color:#000000;}
.table.table-bordered.white a{color:#049cdb;text-decoration:underline;}
.table.table-bordered.white a:hover{color:#000000;}
.gray{color:#a9a9a9;}
.dark-gray{color:#767676;}
.white{color:#ffffff;}.white .white{color:#ffffff;}
.orange{color:#f27f2f;}
.light-gray{color:#f5f5f5;}
.fx-large{font-size:130%;font-weight:normal;}
.flarge{font-size:120%;}.flarge p{font-size:120%;}
.fnormal{font-size:100%;}.fnormal p{font-size:100%;}
.fsmall{font-size:85%;}.fsmall p{font-size:85%;}
.invisible{visibility:hidden;}
.element-invisible{visibility:hidden;}
.element-absent{display:none;}
.align-center{text-align:center;}.align-center th,.align-center td{text-align:center;}
.align-right{text-align:right;}
.absolute{position:absolute;}
.absolute-title{padding-top:5px;z-index:1;}
.spaced_description{line-height:27px;}.spaced_description li{line-height:27px;}
.translucent{opacity:0.7;filter:alpha(opacity=70);}
.bootstrap_title{cursor:pointer;}.bootstrap_title a{cursor:pointer;}
.border_radius_large{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.border_radius,.border_radius_noscript{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.border_radius_small{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.box_shadow{-webkit-box-shadow:0 0 8px 0px;-moz-box-shadow:0 0 8px 0px;box-shadow:0 0 8px 0px;}
